In [1]:
# Import dependencies

from bs4 import BeautifulSoup
import requests
import pandas as pd
import ssl

In [14]:
#kind of had to "brute force" the path


url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [15]:
# Set the URL to visit to a variable
ssl._create_default_https_context = ssl._create_unverified_context

scraper = pd.read_html(url)
for idx, table in enumerate(scraper):
    print("****************************************************************")
    print(idx)
    print(table)

****************************************************************
0
                                                   0  \
0  .mw-parser-output .legend{page-break-inside:av...

                                                   1  \
0  $20,000 - $30,000 $10,000 - $20,000 $5,000 - $...

                                             2
0  $1,000 - $2,500 $500 - $1,000 <$500 No data
****************************************************************
1
    Country/Territory UN Region IMF[4][5]       World Bank[6]        \
    Country/Territory UN Region  Estimate  Year      Estimate  Year
0                 NaN       NaN       NaN   NaN           NaN   NaN
1              Monaco    Europe         —     —        234317  2021
2       Liechtenstein    Europe         —     —        184083  2021
3          Luxembourg    Europe    135605  2023        126426  2022
4             Bermuda  Americas         —     —        118846  2022
..                ...       ...       ...   ...           ...   ...
219        Madagascar    Africa       530  2023           505  2022
220       South Sudan    Africa       417  2023          1072  2015
221      Sierra Leone    Africa       415  2023           461  2022
222       Afghanistan      Asia       443  2021           364  2022
223           Burundi    Africa       246  2023           238  2022

    United Nations[7]
             Estimate  Year
0                 NaN   NaN
1              234317  2021
2              169260  2021
3              133745  2021
4              112653  2021
..                ...   ...
219               500  2021
220               400  2021
221               505  2021
222               373  2021
223               311  2021

[224 rows x 8 columns]
****************************************************************
2
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by GDP rankings  \
0                                            Nominal
1                       Purchasing power parity(PPP)
2                                        Growth rate
3                        Gross national income (GNI)
4                                Countries by region
5                              Subnational divisions
6  Lists of countries by financial rankings List ...

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by GDP rankings.1
0  Per capita Past and projected per capita Secto...
1  Per capita Past per capita Past and projected ...
2  African countries Asian states European Union ...
3                  PPP per capita Nominal per capita
4  Africa PPP nominal Commonwealth of Nations PPP...
5  Albania Argentina Australia Austria Baltic Sta...
6  Lists of countries by financial rankings List ...
****************************************************************
3
              vteEconomic classification of countries  \
0   Developed country Developing country Least dev...
1                                   Three-World Model
2                        Gross domestic product (GDP)
3                                             Nominal
4                       Purchasing power parity (PPP)
5                         Gross national income (GNI)
6                                               Wages
7                                              Wealth
8                             Other national accounts
9                                   Human development
10                                     Digital divide
11       Net international investment position (NIIP)
12                    Economics portal • World portal

            vteEconomic classification of countries.1
0   Developed country Developing country Least dev...
1   First World Second World Third World Fourth World
2   Nominal By country past and projected per capi...
3   By country past and projected per capita per c...
4   By country future estimates per capita per cap...
5   (Nominal, Atlas method) per capita (PPP) per c...
6   Average wage Europe Employee compensation (per...
7   Wealth per adult Europe Financial assets per c...
8   Gross National Happiness Net material product ...
9   Human Development Index by country inequality-...
10  ICT Development Index Number of broadband Inte...
11        Per capita (creditors) Per capita (debtors)
12                    Economics portal • World portal
****************************************************************
4
                               0  \
0                        Nominal
1  Purchasing power parity (PPP)

                                                   1
0  By country past and projected per capita per c...
1  By country future estimates per capita per cap...
****************************************************************
5
         vteLists of countries by financial rankings  \
0                                              Trade
1                                         Investment
2                                              Funds
3                                    Budget and debt
4                                   Income and taxes
5                                         Bank rates
6                                           Currency
7                                              Other
8  Lists of countries by GDP rankings List of int...

       vteLists of countries by financial rankings.1
0  Account balance % of GDP Exports by product me...
1                   FDI received past FDI abroad GFI
2  Forex reserves Forex reserves (ex. gold) Gold ...
3  Government budget PPP % of GDP per capita Cred...
4  Tax rates Inheritance tax Tax revenue Wage ave...
5  Central bank interest rate Commercial bank pri...
6               Exchange rates to US$ Inflation rate
7  Financial Development Index Average annual lab...
8  Lists of countries by GDP rankings List of int...

In [17]:
results_df=pd.DataFrame(scraper[1])

(results_df)

    Country/Territory UN Region IMF[4][5]       World Bank[6]        \
    Country/Territory UN Region  Estimate  Year      Estimate  Year
0                 NaN       NaN       NaN   NaN           NaN   NaN
1              Monaco    Europe         —     —        234317  2021
2       Liechtenstein    Europe         —     —        184083  2021
3          Luxembourg    Europe    135605  2023        126426  2022
4             Bermuda  Americas         —     —        118846  2022
..                ...       ...       ...   ...           ...   ...
219        Madagascar    Africa       530  2023           505  2022
220       South Sudan    Africa       417  2023          1072  2015
221      Sierra Leone    Africa       415  2023           461  2022
222       Afghanistan      Asia       443  2021           364  2022
223           Burundi    Africa       246  2023           238  2022

    United Nations[7]
             Estimate  Year
0                 NaN   NaN
1              234317  2021
2              169260  2021
3              133745  2021
4              112653  2021
..                ...   ...
219               500  2021
220               400  2021
221               505  2021
222               373  2021
223               311  2021

[224 rows x 8 columns]

In [18]:
# Export the election_Data into a csv
results_df.to_csv("C:/Users/m8rqu/Documents/Data BootCamp/Econ/Data/gdp_1.csv", index_label="False")

In [6]:
more_data=pd.read_csv('C:/Users/m8rqu/Documents/Data BootCamp/Econ/Data/gdp_2.csv')
more_data

,Country/Territory,UN region,Forecast,Year[IMF],Estimate[World Bank],Year[World Bank],Estimate[United Nations],Year[United Nations]
0,World,—,104476432,2023,100562011,2022,96698005,2021
1,United States,Americas,26949643,2023,25462700,2022,23315081,2021
2,China,Asia,17700899,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
3,Germany,Europe,4429838,2023,4072192,2022,4259935,2021
4,Japan,Asia,4230862,2023,4231141,2022,4940878,2021
...,...,...,...,...,...,...,...,...
209,Palau,Oceania,267,2023,—,—,218,2021
210,Kiribati,Oceania,246,2023,223,2022,227,2021
211,Nauru,Oceania,150,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,63,2023,60,2022,60,2021

In [7]:
df_reset = more_data.reset_index(level=0, drop=True)
df_reset

,Country/Territory,UN region,Forecast,Year[IMF],Estimate[World Bank],Year[World Bank],Estimate[United Nations],Year[United Nations]
0,World,—,104476432,2023,100562011,2022,96698005,2021
1,United States,Americas,26949643,2023,25462700,2022,23315081,2021
2,China,Asia,17700899,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
3,Germany,Europe,4429838,2023,4072192,2022,4259935,2021
4,Japan,Asia,4230862,2023,4231141,2022,4940878,2021
...,...,...,...,...,...,...,...,...
209,Palau,Oceania,267,2023,—,—,218,2021
210,Kiribati,Oceania,246,2023,223,2022,227,2021
211,Nauru,Oceania,150,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,63,2023,60,2022,60,2021

In [8]:
df_reset.columns = df_reset.columns.str.strip()
cleaned = df_reset.replace('[n 1]', '')
cleaned

,Country/Territory,UN region,Forecast,Year[IMF],Estimate[World Bank],Year[World Bank],Estimate[United Nations],Year[United Nations]
0,World,—,104476432,2023,100562011,2022,96698005,2021
1,United States,Americas,26949643,2023,25462700,2022,23315081,2021
2,China,Asia,17700899,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
3,Germany,Europe,4429838,2023,4072192,2022,4259935,2021
4,Japan,Asia,4230862,2023,4231141,2022,4940878,2021
...,...,...,...,...,...,...,...,...
209,Palau,Oceania,267,2023,—,—,218,2021
210,Kiribati,Oceania,246,2023,223,2022,227,2021
211,Nauru,Oceania,150,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,63,2023,60,2022,60,2021

In [9]:
df_reset['Year[IMF]'] = df_reset['Year[IMF]'].astype(str).str.replace(r'\[n 1\]', '', regex=True)
df_reset['Year[IMF]'] = df_reset['Year[IMF]'].astype(str).str.replace(r'\[n 2\]', '', regex=True)
df_reset['Year[IMF]'] = df_reset['Year[IMF]'].astype(str).str.replace(r'\[n 3\]', '', regex=True)

df_reset['Year[World Bank]'] = df_reset['Year[World Bank]'].astype(str).str.replace(r'\[n 1\]', '', regex=True)
df_reset['Year[World Bank]'] = df_reset['Year[World Bank]'].astype(str).str.replace(r'\[n 2\]', '', regex=True)
df_reset['Year[World Bank]'] = df_reset['Year[World Bank]'].astype(str).str.replace(r'\[n 3\]', '', regex=True)

df_reset['Year[United Nations]'] = df_reset['Year[United Nations]'].astype(str).str.replace(r'\[n 1\]', '', regex=True)
df_reset['Year[United Nations]'] = df_reset['Year[United Nations]'].astype(str).str.replace(r'\[n 2\]', '', regex=True)
df_reset['Year[United Nations]'] = df_reset['Year[United Nations]'].astype(str).str.replace(r'\[n 3\]', '', regex=True)

df_reset

,Country/Territory,UN region,Forecast,Year[IMF],Estimate[World Bank],Year[World Bank],Estimate[United Nations],Year[United Nations]
0,World,—,104476432,2023,100562011,2022,96698005,2021
1,United States,Americas,26949643,2023,25462700,2022,23315081,2021
2,China,Asia,17700899,2023,17963171,2022,17734131,2021
3,Germany,Europe,4429838,2023,4072192,2022,4259935,2021
4,Japan,Asia,4230862,2023,4231141,2022,4940878,2021
...,...,...,...,...,...,...,...,...
209,Palau,Oceania,267,2023,—,—,218,2021
210,Kiribati,Oceania,246,2023,223,2022,227,2021
211,Nauru,Oceania,150,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,63,2023,60,2022,60,2021

In [10]:
df_reset.columns = df_reset.columns.str.strip()
df_reset = df_reset.replace('—', '')
df_reset = df_reset.dropna(axis =1, how='all')
df_reset

,Country/Territory,UN region,Forecast,Year[IMF],Estimate[World Bank],Year[World Bank],Estimate[United Nations],Year[United Nations]
0,World,,104476432,2023,100562011,2022,96698005,2021
1,United States,Americas,26949643,2023,25462700,2022,23315081,2021
2,China,Asia,17700899,2023,17963171,2022,17734131,2021
3,Germany,Europe,4429838,2023,4072192,2022,4259935,2021
4,Japan,Asia,4230862,2023,4231141,2022,4940878,2021
...,...,...,...,...,...,...,...,...
209,Palau,Oceania,267,2023,,,218,2021
210,Kiribati,Oceania,246,2023,223,2022,227,2021
211,Nauru,Oceania,150,2023,151,2022,155,2021
212,Montserrat,Americas,,,,,72,2021
213,Tuvalu,Oceania,63,2023,60,2022,60,2021

In [11]:

url = "https://en.wikipedia.org/wiki/Corruption_Perceptions_Index"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Set the URL to visit to a variable
ssl._create_default_https_context = ssl._create_unverified_context

scraper = pd.read_html(url)
for idx, table in enumerate(scraper):
    print("****************************************************************")
    print(idx)
    print(table)

****************************************************************
0
                                                   0  \
0  .mw-parser-output .legend{page-break-inside:av...

                                                   1
0  Score equal to or between 30 and 39 Score equa...
****************************************************************
1
                                 Political corruption
                                             Concepts
0   Anti-corruption Bribery Cronyism Economics of ...
1                               Corruption by country
2   Africa Angola Botswana Cameroon Chad Comoros C...
3                                              Africa
4   Angola Botswana Cameroon Chad Comoros Congo Eg...
5                                                Asia
6   Afghanistan Armenia Azerbaijan Bahrain Banglad...
7                                              Europe
8   Albania Austria Belgium Bosnia and Herzegovina...
9                                       North America
10                        Canada Mexico United States
11                                    Central America
12        Costa Rica Cuba El Salvador Haiti Nicaragua
13                                      South America
14  Argentina Bolivia Brazil Chile Colombia Ecuado...
15                                            Oceania
16             Australia New Zealand Papua New Guinea
17  .mw-parser-output .navbar{display:inline;font-...
****************************************************************
2
                                               Africa
0   Angola Botswana Cameroon Chad Comoros Congo Eg...
1                                                Asia
2   Afghanistan Armenia Azerbaijan Bahrain Banglad...
3                                              Europe
4   Albania Austria Belgium Bosnia and Herzegovina...
5                                       North America
6                         Canada Mexico United States
7                                     Central America
8         Costa Rica Cuba El Salvador Haiti Nicaragua
9                                       South America
10  Argentina Bolivia Brazil Chile Colombia Ecuado...
11                                            Oceania
12             Australia New Zealand Papua New Guinea
****************************************************************
3
  Scores Perceived as less corrupt                                        \
  Scores        Unnamed: 1_level_1 Unnamed: 2_level_1 Unnamed: 3_level_1
0  99–90                     89–80              79–70              69–60

                                        Perceived as more corrupt  \
  Unnamed: 4_level_1 Unnamed: 5_level_1        Unnamed: 6_level_1
0              59–50              49–40                     39–30


  Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1 Unnamed: 10_level_1
0              29–20              19–10                9–0                 NaN
****************************************************************
4
       # Nation or Territory 2022[5]      2021[23]      2020[24]
       # Nation or Territory   Score Δ[i]    Score Δ[i]    Score Δ[i]
0      1             Denmark      90  NaN       88  NaN       88  NaN
1      2         New Zealand      87    1       88  NaN       88  NaN
2      2             Finland      87    1       88    2       85  NaN
3      4              Norway      84  NaN       85    3       84  NaN
4      5           Singapore      83    1       85    1       85    1
..   ...                 ...     ...  ...      ...  ...      ...  ...
176  176               Yemen      16    2       16    2       15    1
177  177           Venezuela      14  NaN       14    1       15    3
178  178               Syria      13  NaN       13  NaN       14  NaN
179  178         South Sudan      13    2       11    1       12  NaN
180  180             Somalia      12    2       13    1       12    1

[181 rows x 8 columns]
****************************************************************
5
       # Nation or Territory 2019[25]      2018[26]      2017[27]       \
       # Nation or Territory    Score Δ[i]    Score Δ[i]    Score Δ[i]
0      1         New Zealand       87  NaN       87  2.0       89  1.0
1      1             Denmark       87  1.0       88  NaN       88  2.0
2      3             Finland       86  1.0       85  NaN       85  4.0
3      4              Sweden       85  NaN       85  1.0       84  4.0
4      4           Singapore       85  NaN       85  1.0       84  NaN
..   ...                 ...      ...  ...      ...  ...      ...  ...
175  173           Venezuela       16  2.0       18  NaN       18  1.0
176  177               Yemen       15  1.0       14  2.0       16  2.0
177  178               Syria       13  NaN       13  1.0       14  1.0
178  179         South Sudan       12  1.0       13  1.0       12  1.0
179  180             Somalia        9  1.0       10  1.0        9  1.0

    2016[28]       ... 2014[30]      2013[31]      2012[32]      2011[33]  \
       Score Δ[i]  ...    Score Δ[i]    Score Δ[i]    Score Δ[i]    Score
0       90.0  1.0  ...     91.0  NaN     91.0  1.0     90.0  NaN      NaN
1       90.0  1.0  ...     92.0  1.0     91.0  1.0     90.0  NaN      NaN
2       89.0  1.0  ...     89.0  NaN     89.0  1.0     90.0  NaN      NaN
3       88.0  1.0  ...     87.0  2.0     89.0  1.0     88.0  NaN      NaN
4       84.0  1.0  ...     84.0  2.0     86.0  1.0     87.0  NaN      NaN
..       ...  ...  ...      ...  ...      ...  ...      ...  ...      ...
175     17.0  NaN  ...     19.0  1.0     20.0  1.0     19.0  NaN      NaN
176     14.0  4.0  ...     19.0  1.0     18.0  5.0     23.0  NaN      NaN
177     13.0  5.0  ...     20.0  3.0     17.0  9.0     26.0  NaN      NaN
178     11.0  4.0  ...     15.0  1.0     14.0  NaN      NaN  NaN      NaN
179     10.0  2.0  ...      8.0  NaN      8.0  NaN      8.0  NaN      NaN

         2010[34]
    Δ[i]    Score Δ[i]
0    NaN      NaN  NaN
1    NaN      NaN  NaN
2    NaN      NaN  NaN
3    NaN      NaN  NaN
4    NaN      NaN  NaN
..   ...      ...  ...
175  NaN      NaN  NaN
176  NaN      NaN  NaN
177  NaN      NaN  NaN
178  NaN      NaN  NaN
179  NaN      NaN  NaN

[180 rows x 22 columns]
****************************************************************
6
       # Nation or Territory 2009[35]      2008[36]      2007[37]       \
       # Nation or Territory    Score Δ[i]    Score Δ[i]    Score Δ[i]
0      1         New Zealand      9.4  NaN      9.3  NaN      9.4  NaN
1      2             Denmark      9.3    1      9.3  NaN      9.4    3
2      3           Singapore      9.2    1      9.2  NaN      9.3    1
3      3              Sweden      9.2    2      9.3    3      9.3    2
4      5         Switzerland        9  NaN        9    2        9  NaN
..   ...                 ...      ...  ...      ...  ...      ...  ...
181  176               Sudan      1.5    3      1.6    1      1.8   16
182  178             Myanmar      1.4  NaN      1.3    1      1.4   19
183  179         Afghanistan      1.3    3      1.5    4      1.8   55
184    —          Yugoslavia        —    —        —    —        —    —
185  180             Somalia      1.1  NaN        1    1      1.4   35

    2006[38]       ... 2004[40]      2003[41]      2002[42]      2001[43]  \
       Score Δ[i]  ...    Score Δ[i]    Score Δ[i]    Score Δ[i]    Score
0        9.6    1  ...      9.6    1      9.5    1      9.5    1      9.4
1        9.5  NaN  ...      9.5  NaN      9.5    1      9.5  NaN      9.5
2        9.4  NaN  ...      9.3  NaN      9.4  NaN      9.3    1      9.2
3        9.2  NaN  ...      9.2  NaN      9.3    1      9.3    1        9
4        9.1  NaN  ...      9.1    1      8.8    4      8.5  NaN      8.4
..       ...  ...  ...      ...  ...      ...  ...      ...  ...      ...
181        2   12  ...      2.2   16      2.3    —        —    —        —
182      1.9    5  ...      1.7   13      1.6    —        —    —        —
183        —    —  ...        —    —        —    —        —    —        —
184        —    —  ...        —    —        —    —        —    —        —
185        —    —  ...        —    —        —    —        —    —        —

         2000[44]
    Δ[i]    Score Δ[i]
0    NaN      9.4  NaN
1    NaN      9.8    1
2      2      9.1    1
3      3      9.4  NaN
4      1      8.6    2
..   ...      ...  ...
181    —        —    —
182    —        —    —
183    —        —    —
184    —      1.3    1
185    —        —    —

[186 rows x 22 columns]
****************************************************************
7
     # Nation or Territory 1999[45]      1998[46]      1997[47]      1996[48]  \
     # Nation or Territory    Score Δ[i]    Score Δ[i]    Score Δ[i]    Score
0    1             Denmark       10  NaN       10  NaN     9.94    1     9.33
1    2             Finland      9.4  NaN      9.6  NaN     9.48    2     9.05
2    3              Sweden      9.4  NaN      9.5  NaN     9.35  NaN     9.08
3    4         New Zealand      9.4    1      9.4  NaN     9.23    3     9.43
4    5             Iceland      9.2  NaN      9.3    —        —    —        —
..  ..                 ...      ...  ...      ...  ...      ...  ...      ...
95  94            Honduras      1.8   11      1.7    —        —    —        —
96  96           Indonesia      1.7   16        2   34     2.72    1     2.65
97  96          Azerbaijan      1.7    —        —    —        —    —        —
98  98             Nigeria      1.6   17      1.9   29     1.76    2     0.69
99  99            Cameroon      1.5   14      1.4   36        —    —     2.46

        1995[49]
   Δ[i]    Score
0   NaN     9.32
1   NaN     9.12
2     3     8.87
3   NaN     9.55
4     —        —
..  ...      ...
95    —        —
96    4     1.94
97    —        —
98    —        —
99    —        —

[100 rows x 11 columns]
****************************************************************
8
       vteLists of countries by political rankings  \
0                                          Freedom
1                                       Corruption
2                                  Competitiveness
3                                          History
4                                           Rights
5                                        Democracy
6                                            Other
7  List of international rankings Lists by country

       vteLists of countries by political rankings.1
0  Freedom in the World Press Freedom of the Pres...
1  Bribe Payers Index Corruption Perceptions Inde...
2             Composite Index of National Capability
3  Flag adoption date Formation date Largest empi...
4  Global Gender Gap Report LGBT rights by countr...
5  Democracy indices V-Dem Democracy Indices The ...
6  Central bank independence indices Commitment t...
7    List of international rankings Lists by country
****************************************************************
9
                           vteCorruption  \
0         Corruption in different fields
1                 Measures of corruption
2          Forms or aspectsof corruption
3                                General
4                                  State
5                              Elections
6   Institutions dealing with corruption
7                          International
8                               National
9                        Anti-corruption
10                   Laws andenforcement
11   Internationalinstrumentsand efforts
12                      Protestmovements

                                      vteCorruption.1
0   Corporate crime Corruption in local government...
1   Corruption Perceptions Index Economics of corr...
2   General Baksheesh Black market / Grey market B...
3   Baksheesh Black market / Grey market Bribery C...
4   Clientelism Coronelism Crony capitalism Cronyi...
5   Ballot stuffing Electoral fraud Election secur...
6   International Global Financial Integrity Globa...
7   Global Financial Integrity Global Witness Grou...
8   Oficina Anticorrupción (Argentina) Australian ...
9   Laws andenforcement Citizen's Charter and Grie...
10  Citizen's Charter and Grievance Redressal Bill...
11  Inter-American Convention Against Corruption I...
12  2011 Azerbaijani protests 2011 Indian anti-cor...
****************************************************************
10
           0                                                  1
0    General  Baksheesh Black market / Grey market Bribery C...
1      State  Clientelism Coronelism Crony capitalism Cronyi...
2  Elections  Ballot stuffing Electoral fraud Election secur...
****************************************************************
11
               0                                                  1
0  International  Global Financial Integrity Global Witness Grou...
1       National  Oficina Anticorrupción (Argentina) Australian ...
****************************************************************
12
                                     0  \
0                  Laws andenforcement
1  Internationalinstrumentsand efforts
2                     Protestmovements

                                                   1
0  Citizen's Charter and Grievance Redressal Bill...
1  Inter-American Convention Against Corruption I...
2  2011 Azerbaijani protests 2011 Indian anti-cor...

In [12]:
corruption_df=pd.DataFrame(scraper[4])

(corruption_df)

       # Nation or Territory 2022[5]      2021[23]      2020[24]
       # Nation or Territory   Score Δ[i]    Score Δ[i]    Score Δ[i]
0      1             Denmark      90  NaN       88  NaN       88  NaN
1      2         New Zealand      87    1       88  NaN       88  NaN
2      2             Finland      87    1       88    2       85  NaN
3      4              Norway      84  NaN       85    3       84  NaN
4      5           Singapore      83    1       85    1       85    1
..   ...                 ...     ...  ...      ...  ...      ...  ...
176  176               Yemen      16    2       16    2       15    1
177  177           Venezuela      14  NaN       14    1       15    3
178  178               Syria      13  NaN       13  NaN       14  NaN
179  178         South Sudan      13    2       11    1       12  NaN
180  180             Somalia      12    2       13    1       12    1

[181 rows x 8 columns]

In [13]:
# Export the election_Data into a csv
corruption_df.to_csv("C:/Users/m8rqu/Documents/Data BootCamp/Econ/Data/corrupt_1.csv", index_label="False")